<aside>
    <div id="aside-content">
        <div id="side-bar-logo">
            <h1>Not-</h1>
            <h5>Amazon</h5>
        </div>
        <nav>
            <ul>
                <li><a href="/"><i class="fas fa-home"></i>&nbsp;HOME</a></li>
                
                <li><a href="/cart"><i class="fas fa-shopping-cart"></i>&nbsp;CART&nbsp;<span class="badge">{{session.cart.totalQty}}</span></a></li>
                {{#if user}}
                {{#if user.isAdmin}}
                <li><a href="/shoes/add"><i class="fas fa-plus-square">&nbsp;</i>ADD SHOES</a></li>
                {{/if}}
                <li><a><i class="fas fa-user"></i>&nbsp;{{user.name}}</a></li>
                <li><a href="/users/logout"><i class="fas fa-sign-out-alt"></i>&nbsp;LOGOUT</a></li>
                {{else}}
                <li><a href="/users/login"><i class="fas fa-sign-in-alt"></i>&nbsp;LOGIN</a></li>
                <li><a href="/users/register"><i class="fas fa-user-plus"></i>&nbsp;REGISTER</a></li>
                {{/if}}
            </ul>
        </nav>
    </div>
</aside>

<nav class="nav-bar">

    <div id="navPopUp" onclick="toggleMenu()">
        <span></span>
        <span></span>
        <span></span>


        <div id="navMenu" class="">

            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/cart"><i class="fas fa-shopping-cart"></i>&nbsp;CART&nbsp;<span class="badge">{{session.cart.totalQty}}</span></a></li>
                {{#if user}}
                {{#if user.isAdmin}}
                <li><a href="/shoes/add"><i class="fas fa-plus"></i>&nbsp;ADD SHOES</a></li>
                {{/if}}
            
                <li><a href="/users/logout">LOGOUT</a></li>
                {{else}}
                <li><a href="/users/login">LOGIN</a></li>
                <li><a href="/users/register">REGISTER</a></li>
                {{/if}}
            </ul>

        </div>
        <!--#navMenu-->

    </div>
    <!--id="navPopUp"-->


</nav>
