{{!-- //alerting error message --}}

{{#each errors}}
<div class="alert alert-danger">{{text}}</div>
{{else}}
<h3> Add Shoes</h3>
<div id="add-form">
  <form action="/shoes/add" enctype="multipart/form-data" method="post">

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Product Name</span>
      </div>
      <input type="text" class="form-control" name="name" placeholder="Product Name">
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Price</span>
      </div>
      <input type="text" class="form-control" name="price" placeholder="Price">
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroupFileAddon01">Image</span>
      </div>
      <div class="custom-file">
        <input type="file" class="custom-file-input" id="inputGroupFile01" name="img">
        <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
      </div>
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">Product Description</span>
      </div>
      <textarea class="form-control" id="description" name="description" rows="3"></textarea>
    </div>
    <div id="size-qty-div">
      <ul id="sizes-ul">
        <li>
          <div class="input-group mb-3 row-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Size</span>
            </div>
            <input type="text" class="form-control" name="sizes[{{@index}}][size]" placeholder="Size" value="{{size}}">
          </div>
          <div class="input-group mb-3 row-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Qty</span>
            </div>
            <input type="text" class="form-control" name="sizes[{{@index}}][qty]" placeholder="Qty" value="{{qty}}">
          </div>
        </li>
      </ul>
    </div>
    <button type="button" class="btn btn-warning" id="add-size-btn">Add Size</button>
    <button type="submit" class="btn btn-primary">Hit Me</button>
  </form>
  <form method="post" action="/shoes/{{shoe._id}}?_method=DELETE">
    <input type="hidden" name="_method" value="DELETE">
    {{#if user.isAdmin}}
    <button type="submit" class="btn btn-danger" id="delete-btn">Delete</button>
    {{/if}}
  </form>
</div>
{{/each}}

{{!-- <input type="checkbox" class="form-control" name="9" value="9">
<input type="checkbox" class="form-control" name="9.5" value="9">
<input type="checkbox" class="form-control" name="10" value="9">
<input type="checkbox" class="form-control" name="10.5" value="9">
<input type="checkbox" class="form-control" name="11" value="9">
<input type="checkbox" class="form-control" name="11.5" value="9">
<input type="checkbox" class="form-control" name="12" value="9"> --}}