{{!-- //alerting error message --}}
{{#each errors}}
<div class="alert alert-danger">{{text}}</div>
{{else}}
<h3> Edit shoes</h3>
<div id="edit-form">
    <form action="/shoes/{{shoe.id}}?_method=PUT" method="post" enctype="multipart/form-data">

        <div>
            <input type="file" name="img" placeholder="Product Image">
        </div>

        <div>
            <input type="text" name="name" placeholder="Product Name">
        </div>

        <div>
            <input type="text" name="price" placeholder="Price">
        </div>



        <div id="size-qty-div">
            <ul id="sizes-ul">
                {{#each shoe.sizes}}
                <li>
                    <input type="text" name="sizes[{{@index}}][size]" placeholder="Size" value="{{size}}">
                    <input type="text" name="sizes[{{@index}}][qty]" placeholder="Qty" value="{{qty}}">
                </li>
                {{/each}}
            </ul>
        </div>
        <button id="add-size-btn">Add Size</button>



        <div>
            <textarea rows="10" cols="10" name="description" placeholder="Product Description"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Hit Me</button>
    </form>
    <form method="post" action="/shoes/{{shoe._id}}?_method=DELETE">
        <input type="hidden" name="_method" value="DELETE">
        {{#if user.isAdmin}}
        <button type="submit" id="delete-btn">Delete</button>
        {{/if}}
    </form>
</div>
{{/each}}


{{!-- <div class= "alert alert-danger">{{text}}</div>
{{else}}

{{/each}}


<div id="edit-form">
    <h3> Edit shoes</h3>

    <form action="/shoes/{{shoe.id}}" method="post" enctype="multipart/form-data">
    
        <div>
     
        <input type="file" name="img">xx
        </div>
        <div>
        
        <input type="text" name="name" value="{{shoe.name}}">
        </div>

        <div>
            <input type="text" name="price" value="{{shoe.price}}">
        </div>

        
        <div id="size-qty-div">
            <ul id="sizes-ul">
                {{#each shoe.sizes}}
                <li>
                    <input type="text" name="sizes[{{@index}}][size]" formenctype="multipart/form-data" value="{{size}}">
                    <input type="text" name="sizes[{{@index}}][qty]" formenctype="multipart/form-data" value="{{qty}}">
                </li>
                {{/each}}
            </ul>
        </div>
        <button id="add-size-btn">Add Size</button>

        <div>
            <textarea rows="10" name="description">{{shoe.description}}</textarea>
        </div>
        <button type="submit" class="btn btn-primary">Hit Me</button>
   
    </form>
</div> --}}