<div id="product-details">
    <div class="product-photos">
        <div class="main-photo">
            <img src="/product-pictures/{{shoe.img}}">

        </div>
        <!--.main-photo-->
        <div class="more-photos">
            
            <img src="/product-pictures/{{shoe.img}}">
            
            <img src="/product-pictures/{{shoe.img}}">
            
            <img src="/product-pictures/{{shoe.img}}">
            
            <img src="/product-pictures/{{shoe.img}}">
            
        </div>
        <!--.more-photos-->

    </div>
    <!--.product-photos-->
    <div class="product-description">
        <div class="product-heading">
            <h3>${{shoe.price}}</h3>
            <h2>{{shoe.name}}</h2>
        </div>
        <p>{{shoe.description}}</p>
        <select>
            {{#each shoe.sizes}}
            <option value="{{size}}">{{size}}</option>
            {{/each}}
        </select>
        <div id="qty-div">
            <label for="qty">Qty</label>
            <input type="number" min="1" id="qty" placeholder="1">
        </div>
        <button id="add-to-cart">Add to cart</button>
        <a href="/shoes/edit/{{shoe.id}}">Edit Shoes</a>
    </div>
</div>